llm_config.txt
/cache
.claude

# Build Artifacts
project_app/
/dist
/build
*.spec
__pycache__/
overlay.exe
tests.exe
*.res.o
*.o
logs/

# Python
venv/
python_backend/venv/
python_backend/dist/
python_backend/build/
*.pyc

build/
build-cmake/
